/*
Предполагается, что все блоки которые имеют 100% ширину имеют отступ в 30px/40px для мобилки/
*/
.doc--preview {
	margin-top: -2rem;
	max-height: 610px;
	overflow: hidden;
	position: relative;
	/*
	Preventing doc_media crop out in doc--preview and fix for incorrect margin-top in "doc--preview"
	*/
	margin: -2rem -#{$mobile_gap} 0 -#{$mobile_gap};
	padding-left: $mobile_gap;
	padding-right: $mobile_gap;
	@include media('desktop') {
		padding-left: 60px;
		padding-right: 0;
		margin: 0 0 0 -50px;
	}
	&::after {
		content: '';
		position: absolute;
		bottom: -50px;
		left: 0;
		right: 0;
		height: 50px;
		border-radius: 0;
		box-shadow: 0 -10px 30px 30px $white;
		z-index: 1;
	}
	& .doc__media {
		display: none;
		@include media('desktop') {
			display: block;
		}
	}
}
