.overflow_shadow-x,
.scrolldiv {
	// background:	linear-gradient(to right, white 30%, transparent),
	// 			linear-gradient(to right, transparent, white 70%) 0 100%,
	// 			radial-gradient(farthest-side at 0 50%, rgba(0,0,0,.4), rgba(0,0,0,.02)),
	// 			radial-gradient(farthest-side at 100% 50%, rgba(0,0,0,.4), rgba(0,0,0,.02)) 0 100%;
	// background-repeat: no-repeat;
	// background-size:
	// 	30px 100%,
	// 	30px 100%,
	// 	10px 140%,
	// 	10px 140%;
	// background-position:
	// 	0 0,
	// 	100%,
	// 	0 50%,
	// 	100%;
	// background-attachment:
	// 	local,
	// 	local,
	// 	scroll,
	// 	scroll;
	// overflow-x: auto;
	overflow: auto;
	max-width: 100%;
	text-align: center;
	max-height: calc(100vh - #{$modal_outer_vertical_gap * 2});
}
.scrolldiv {
	margin-bottom: 3rem;
	@include media('desktop') {
		margin-bottom: 4rem;
	}
}