$regions_bg: #eee;

.regions {
	position: absolute;
	z-index: 1;
	width: 100%;
	background-color: $regions_bg;
	font-size: 0;
	opacity: 0;
	visibility: hidden;
	transform-origin: 50% 0;
	transform: translateY(15px);
	transition:	opacity .2s ease-in-out .25s,
		visibility 0s linear .5s,
		transform .6s cubic-bezier(.165, 0.84, 0.44, 1) .25s;
	will-change: opacity transform;

	&--active {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
		transition-delay: 0s;
	}

	&__body {
		position: relative;
		padding: 10px 0;
	}

	/* Якорь. Если положение иконки регионов изменится, здесь придётся поправить смещение справа */
	&__body::before {
		content: '';
		position: absolute;
		/* две иконки с отступами, плюс половина иконки, минус ширина якоря */
		right: ($desktop_icon_box + 10px) * 2 + $desktop_icon_box / 2 - 5px;
		top: -5px;
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-bottom: 5px solid $regions_bg;
	}

	&__list {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;
		max-width: 820px;
		margin: 0 auto;
	}

	&__item {
		margin: 3px 15px;
		color: #333;
		font-size: 1.4rem;
		line-height: 2.4rem;
	}

	&__link {
		color: inherit;
		text-decoration: underline;
	}

	&__link:focus,
	&__link:hover {
		text-decoration: none;
	}
}
