.no-js .hide_nojs {
	display: none;
}
@if not $amp {
	.hide {
		display: none !important;
	}
	.hide_mobile {
		@include media('mobile') {
			display: none !important;
		}
	}
	.hide_desktop {
		@include media('desktop') {
			display: none !important;
		}
	}
}
.link {
	color: inherit;
	text-decoration: none;
}
.no_decor {
	text-decoration: none;
}
.decor {
	text-decoration: underline;
}
.brand_color,
a {
	color: $brand_color;
}
/* old school underline */
a {
	text-decoration-skip-ink: none;
	text-decoration-thickness: .0667em;
}
.fm_color {
	color: #006697;
}
.sticky {
	position: sticky;
	top: 70px; /* отступ сверху по макету */
}
.vh {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
}
@if not $amp {
	.title_12 {
		font-size: 1.2rem;
		line-height: 1;
		font-weight: normal;
		color: $gray-6;
		margin-top: -.4rem;
		margin-bottom: -.2rem + 1.5rem;
	}
	.title_15 {
		font-size: 1.5rem;
		line-height: 1.8rem;
		font-weight: normal;
		color: $gray-1;
		margin-top: -.6rem + 1.5rem;
		margin-bottom: -.5rem;
	}
	.title_20 {
		font-size: 2rem;
		line-height: 1;
		font-weight: bold;
		color: $gray-1;
		margin-top: -.6rem;
		margin-bottom: -.4rem;
	}
	.title_22 {
		font: 2.2rem/1 a;
		font-family: inherit;
		color: $gray-1;
		margin: 5px 0 2px 0;
	}
	.title_24 {
		font: 2.4rem/1 a;
		font-family: inherit;
	}
	.title_28 {
		font: bold 2.8rem/1 a;
		font-family: inherit;
		color: $gray-1;
		margin-top: -.9rem;
		margin-bottom: -.5rem;
	}
	.m-title_24 {
		@include media('mobile') {
			font-size: 2.4rem;
			line-height: 2.6rem;
			margin-top: -.8rem;
			margin-bottom: -.6rem;
		}
	}
	.m-title_20 {
		@include media('mobile') {
			font-size: 2rem;
			line-height: 2.4rem;
			margin-top: -.8rem + 1.5rem;
			margin-bottom: -.6rem;
		}
	}

	.lazyload {
		overflow-anchor: none;
	}
	.more,
	.more-trigger,
	.more-hidden {
		overflow: hidden;
	}
	.more .more-hidden {
		display: none;
	}
	/* прячем, если открыто */
	.more.more-expanded .hide_opened,
	/* прячем, если закрыто */
	.more:not(.more-expanded) .hide_closed {
		display: none;
	}
}

.is_focused {
	box-shadow: 0 0 2px 0 #000;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	min-width: 100%;
}
.stretch,
.stretch_photo img,
.stretch_photo iframe,
.stretch_photo object,
.stretch_photo video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.stretch,
.stretch_photo img,
.stretch_photo video {
	object-fit: contain;
	object-position: 50% 50%;
}
.stretch--cover,
.stretch_photo--cover img,
.stretch_photo--cover video {
	object-fit: cover;
}
.link_overlay::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.link_overlay_wide::after {
	content: '';
	position: absolute;
	top: 0;
	left: -#{$mobile_gap};
	right: -#{$mobile_gap};
	bottom: 0;
	@include media('desktop') {
		left: 0;
		right: 0;
	}
}
@if not $amp {
	.resizable-animated {
		transition: height .4s ease-in-out 0s;
	}
}
@if $amp {
	.centered {
		text-align: center;
	}
}
.hide_while_loading {
	display: none;
}

.window_popup {
	margin: 0;
}
.html_customblock {
	margin-bottom: 3rem;
	@include media('desktop') {
		margin-bottom: 5rem;
	}
}

// temp stuff
@if not $amp {
	[data-socials-network="fb"],
	.js-article-comment,
	.sharing[href$="#comments"] {
			display: none !important;
	}
}