// old temporary style
$mobile_width: 600px;
$mobile_gap: 20px;
$desktop_gap: 50px;

$cell_size: 240px;
$cell_size: 240px;
$cell_size_large: 300px;

$cell_gap: 40px;
$main_width: $cell_size * 4 + $cell_gap * 3;

$main_width: $cell_size * 4 + $cell_gap * 3;

$aside_size: 300px;

$desktop1: $main_width + $desktop_gap * 2 + 18;
$desktop3: $main_width + $aside_size + $desktop_gap * 2 + 18;
@if ($main_width + $aside_size + $desktop_gap * 2) < 1600px {
	$desktop3: 1600px;
}

// new style
$brand_color: #004465;

$mobile_icon_size: 20px;
$mobile_icon_padding: 5px;
$mobile_icon_box: $mobile_icon_size + $mobile_icon_padding * 2;

$desktop_icon_size: 30px;
$desktop_icon_padding: 0;
$desktop_icon_box: $desktop_icon_size + $desktop_icon_padding * 2;

@function grid_cell($size, $span, $gap) {
	$result: 0;
	@if $span > 0 {
		$result: $size * $span + ($span - 1) * $gap;
	}
	@return $result;
}
