/* -------------------- vicons.css -------------------- */
.vicon {
	fill: currentcolor;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font: 20px/0 a;

	&__body {
		display: block;
		width: 1em;
		height: 1em;
		background: inherit;
		transform: translateX(0);
		-ms-transform: translate(.5px, -.3px);
	}

	&--small {
		font-size: 16px;
		line-height: 16px;
	}
	&--tiny {
		font-size: 12px;
		line-height: 12px;
	}

	&--larrow &__body {
		transform: rotate(180deg);
	}

	&--circled,
	&--circled &__body {
		border-radius: 50%;
	}

	&--gull_left {
		transform: rotate(90deg);
	}
	&--gull_right {
		transform: rotate(-90deg);
	}
	&--gull_down {
		transform: rotate(90deg);
	}
	&--gull_up {
		transform: rotate(-90deg);
	}

	&--eye {
		fill: #777;
		font-size: 12px;
	}

	&--sprocket {
		fill: $gray-9;
		font-size: 12px;
		padding-left: 6px;
	}

	&--burger_cn {
		font-size: 17px;
	}
}
