.vote {
	margin-bottom: -.5rem + 4rem;

	@include media('desktop') {
		margin-top: 5rem;
		margin-bottom: -.5rem + 4rem;
	}

	&__name {
    margin-top: -.8rem + 1.5rem;
    margin-bottom: -.6rem + 2.5rem;
    color: #111;
    font: bold 2rem/2.4rem a;
    font-family: inherit;

		@include media('desktop') {
      margin: -.6rem + 3rem 10px -.4rem + 2.5rem 10px;
      font-size: 2rem;
      line-height: 1;
    }
	}

	&__list {
		margin-bottom: -.7rem + 2.5rem;

		@include media('desktop') {
			margin-bottom: -.6rem + 2.5rem;
		}
	}

  &__item {
		margin: -.5rem 0 (-0.4rem + 2rem) -8px;
		font-size: 0;

		@include media('desktop') {
			margin: -.6rem 0 (-0.5rem + 2rem) 0;
		}
	}

  &__input {
    vertical-align: top;
    margin-right: 10px;
  }

	&__text {
    color: #333;
    font: bold 1.4rem/1.5rem a;
    font-family: inherit;
    vertical-align: middle;
    display: inline-block;
    width: calc(100% - 30px);

		@include media('desktop') {
			font-size: 1.5rem;
			line-height: 1.8rem;
		}
	}

	&__item:focus &__text,
	&__item:hover &__text {
		color: #666;
	}

	&__more {
    display: inline-block;
    margin-top: -.5rem;
    margin-left: 18px;
    color: #004465;
    font: 1.4rem/1.6rem a;
    font-family: inherit;

		@include media('desktop') {
			margin-left: 25px;
			font-size: 1.8rem;
			line-height: 1;
		}
	}
}
