.ol-r {
	outline: 1px dashed red;
}
.ol-g {
	outline: 1px dashed green;
}
.ol-b {
	outline: 1px dashed blue;
}
.ol-w {
	outline: 1px dashed white;
}
.box {
	position: relative;
	font: 0/0 a;
	text-align: center;
	background-color: #ececee;
}
.box_16x9::before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	padding-bottom: 56.25%;
}
.box__text {
	display: inline-block;
	vertical-align: middle;
	font: 16px/1 Georgia, serif;
	color: #006654;
}
.b {
	height: 3rem;
	background-color: #ececee;
}
@media only screen and (min-width: $desktop1) {
	.b {
		height: 4rem;
		background-color: #ececee;
	}
}
.hide {
	display: none;
}
.dtext {
	font: 1.6rem/1 Georgia, serif;
}
.dtext--w {
	color: #fff;
}
.debug_column {
	background-color: #ececee;
	min-height: 135px;
	text-align: center;
	font: bold 2.4rem/1.2 Georgia, serif;
	padding-top: 1em;
	margin-bottom: 2.6rem;
}
.debug_column--transparent {
	background-color: transparent;
}
.bg-g {
	background-color: #eee;
}
@media only screen and (min-width: $desktop1) {
	/* не забыть убить */
	.debug_announcer {
		position: fixed;
		left: 10px;
		bottom: 10px;
		/* text-align: right; */
		opacity: 0;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		z-index: 2;
		transition: opacity 2s ease-in-out 1s;
	}
	.debug_announcer:hover {
		opacity: 1;
		transition-delay: 0s;
		transition-duration: .5s;
	}
	.debug_announcer > * {
		transform: translateX(-100%);
		transition: transform .5s ease-in-out 2s;
	}
	.debug_announcer:hover > * {
		transform: translateX(0);
		transition-delay: 0s;
	}

	.debug_announcer label {
		padding: 5px 10px;
		display: block;
		background-color: #fff;
	}
	.debug_announcer p {
		padding: 15px 10px 5px 10px;
		background-color: #fff;
	}
	.debug_announcer .ui-tumbler__dot {
		background-color: #0c0;
	}
	#superannounce_trigger1:checked ~ .debug_announcer label[for=superannounce_trigger1] .ui-tumbler__box {
		background-color: #e6e6e6;
	}
	#superannounce_trigger1:checked ~ .debug_announcer label[for=superannounce_trigger1] .ui-tumbler__dot {
		left: calc(100% - 7px);
		background-color: #c00;
	}
	#superannounce_trigger1:focus ~ .debug_announcer label[for=superannounce_trigger1] .ui-tumbler__dot {
		background-color: #004465;
	}
	#superannounce_trigger1:checked ~ * #superannounce1 {
		display: none;
	}

	#superannounce_trigger2:checked ~ .debug_announcer label[for=superannounce_trigger2] .ui-tumbler__box {
		background-color: #e6e6e6;
	}
	#superannounce_trigger2:checked ~ .debug_announcer label[for=superannounce_trigger2] .ui-tumbler__dot {
		left: calc(100% - 7px);
		background-color: #c00;
	}
	#superannounce_trigger2:focus ~ .debug_announcer label[for=superannounce_trigger2] .ui-tumbler__dot {
		background-color: #004465;
	}
	#superannounce_trigger2:checked ~ * #superannounce2 {
		display: none;
	}

	#superannounce_trigger3:checked ~ .debug_announcer label[for=superannounce_trigger3] .ui-tumbler__box {
		background-color: #e6e6e6;
	}
	#superannounce_trigger3:checked ~ .debug_announcer label[for=superannounce_trigger3] .ui-tumbler__dot {
		left: calc(100% - 7px);
		background-color: #c00;
	}
	#superannounce_trigger3:focus ~ .debug_announcer label[for=superannounce_trigger3] .ui-tumbler__dot {
		background-color: #004465;
	}
	#superannounce_trigger3:checked ~ * #superannounce3 {
		display: none;
	}

	#superannounce_trigger4:checked ~ .debug_announcer label[for=superannounce_trigger4] .ui-tumbler__box {
		background-color: #e6e6e6;
	}
	#superannounce_trigger4:checked ~ .debug_announcer label[for=superannounce_trigger4] .ui-tumbler__dot {
		left: calc(100% - 7px);
		background-color: #c00;
	}
	#superannounce_trigger4:focus ~ .debug_announcer label[for=superannounce_trigger4] .ui-tumbler__dot {
		background-color: #004465;
	}
	#superannounce_trigger4:checked ~ * #superannounce4 {
		display: none;
	}
	#superannounce_trigger4:not(:checked) ~ * .top_news_main {
		display: none;
	}
	#superannounce_trigger4:checked ~ * .photo_fact {
		margin-top: 13px;
	}

	#superannounce_trigger5:checked ~ .debug_announcer label[for=superannounce_trigger5] .ui-tumbler__box {
		background-color: #e6e6e6;
	}
	#superannounce_trigger5:checked ~ .debug_announcer label[for=superannounce_trigger5] .ui-tumbler__dot {
		left: calc(100% - 7px);
		background-color: #c00;
	}
	#superannounce_trigger5:focus ~ .debug_announcer label[for=superannounce_trigger5] .ui-tumbler__dot {
		background-color: #004465;
	}
	#superannounce_trigger5:checked ~ * #superannounce5 {
		display: none;
	}

	#superannounce_trigger6:checked ~ .debug_announcer label[for=superannounce_trigger6] .ui-tumbler__box {
		background-color: #e6e6e6;
	}
	#superannounce_trigger6:checked ~ .debug_announcer label[for=superannounce_trigger6] .ui-tumbler__dot {
		left: calc(100% - 7px);
		background-color: #c00;
	}
	#superannounce_trigger6:focus ~ .debug_announcer label[for=superannounce_trigger6] .ui-tumbler__dot {
		background-color: #004465;
	}
	#superannounce_trigger6:checked ~ * #superannounce6 {
		display: none;
	}

	#superannounce_trigger7:checked ~ .debug_announcer label[for=superannounce_trigger7] .ui-tumbler__box {
		background-color: #e6e6e6;
	}
	#superannounce_trigger7:checked ~ .debug_announcer label[for=superannounce_trigger7] .ui-tumbler__dot {
		left: calc(100% - 7px);
		background-color: #c00;
	}
	#superannounce_trigger7:focus ~ .debug_announcer label[for=superannounce_trigger7] .ui-tumbler__dot {
		background-color: #004465;
	}
	#superannounce_trigger7:checked ~ * #superannounce7 {
		display: none;
	}

	#superannounce_trigger8:checked ~ .debug_announcer label[for=superannounce_trigger8] .ui-tumbler__box {
		background-color: #e6e6e6;
	}
	#superannounce_trigger8:checked ~ .debug_announcer label[for=superannounce_trigger8] .ui-tumbler__dot {
		left: calc(100% - 7px);
		background-color: #c00;
	}
	#superannounce_trigger8:focus ~ .debug_announcer label[for=superannounce_trigger8] .ui-tumbler__dot {
		background-color: #004465;
	}
	#superannounce_trigger8:checked ~ * #superannounce8 {
		display: none;
	}

	#superannounce_trigger1:checked + #superannounce_trigger2:checked + #superannounce_trigger3:checked ~ * #photo_fact_move {
		/* margin-top: -50px; */
	}
	/*
	#superannounce_trigger1:not(:checked) ~ * #actual__frame,
	#superannounce_trigger2:not(:checked) ~ * #actual__frame,
	#superannounce_trigger3:not(:checked) ~ * #actual__frame {
		width: 100%;
	}
	#superannounce_trigger1:checked + #superannounce_trigger2:checked + #superannounce_trigger3:checked ~ * #actual__frame .actual__nav {
		left: -156px;
	}
	*/
}

.native_roll img {
	max-width: 100%;
	margin-bottom: 30px;
}