$mobile-width: 600px;
$mobile-gap: 30px;
$desktop-gap: 50px;

$cell-size: 240px;
$cell-size-large: 300px;

$cell-gap-narrow: 40px;
$main-width-narrow: $cell_size * 4 + $cell-gap-narrow * 3;

$cell-gap: 40px;
$main-width: $cell_size * 4 + $cell-gap * 3;

$aside-size-narrow: 220px;
$aside-size: 300px;

$desktop1: $main-width-narrow + $desktop-gap * 2;
$desktop2: $main-width-narrow + $aside-size-narrow + $desktop-gap * 2;
$desktop3: $main-width + $aside-size + $desktop-gap * 2;
@if ($main-width + $aside-size + $desktop-gap * 2) < 1600px {
	$desktop3: 1600px;
}

$brand_color: #004465;

@function grid_cell($size, $span, $gap) {
	$result: 0;
	@if $span > 0 {
		$result: $size * $span + ($span - 1) * $gap;
	}
	@return $result;
}
