.main_header {
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: $brand_color;

  &__content {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 40px;
    margin: 0 -#{$mobile_icon_box * 0.5};
    width: calc(100% + #{$mobile_icon_box});
    @include media('desktop') {
      height: 50px;
      margin: 0 0 0 -#{$desktop_gap - ($desktop_gap - $desktop_icon_box) * 0.5};
      width: calc(100% + #{$desktop_gap - ($desktop_gap - $desktop_icon_box) * 0.5});
    }
  }

  &__logo {
    margin-left: auto;
    @include media('desktop') {
      margin-left: 10px;
    }
  }

  &__logo_img {
    width: 158px;
    height: 20px;
    fill: $white;
    padding-top: 3px;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
  }

  &__icon {
    color: $white;
    font-size: $mobile_icon_size;
    width: $mobile_icon_size;
    padding: $mobile_icon_padding;
    box-sizing: content-box;
    @include media('desktop') {
      font-size: $desktop_icon_size;
      width: $desktop_icon_size;
      padding: $desktop_icon_padding;
    }
  }

  &__item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    opacity: .5;
    transition: opacity .25s ease-in-out 0s;
    cursor: pointer;
    @include media('desktop') {
      margin-right: 10px;
    }

    &:last-child {
      @include media('desktop') {
        margin-right: 0;
      }
    }

    &:focus,
    &:focus-within,
    &:hover,
    &--search.is_active {
      opacity: 1;
    }
  }

  &__search_field {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    font: 1.6rem/1.5 a;
    font-family: inherit;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    background-color: $brand_color;
    color: $white;
    outline: none;
    /* reset end */

    position: absolute;
    right: 55px;

    opacity: 1;
    transform: translateX(100%);
    width: calc(100% - 110px);
    will-change: opacity, transform, width, margin;
    transform-origin: 100% 50%;

    animation: search_field_hide .15s cubic-bezier(.4, .0, 1, 1) both;
    @include media('desktop') {
      position: static;
      opacity: 1;
      width: 0;
      transform: translateX(0);
    }

    .is_active > & {
      animation: search_field_show .2s cubic-bezier(0, 0, .2, 1) both;
    }

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      width: 12px;
      height: 12px;
      background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 11.99 11.99'%3E%3Cpath fill='%23fff' d='M11.99 1.41L10.58 0 6 4.58 1.41 0 0 1.41 4.58 6 0 10.58l1.42 1.41L6 7.41l4.58 4.58 1.41-1.41L7.41 6l4.58-4.59z'/%3E%3C/svg%3E%0A") no-repeat;
    }

    &::-ms-clear {
      -webkit-appearance: none;
      width: 12px;
      height: 12px;
      background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 11.99 11.99'%3E%3Cpath fill='%23fff' d='M11.99 1.41L10.58 0 6 4.58 1.41 0 0 1.41 4.58 6 0 10.58l1.42 1.41L6 7.41l4.58 4.58 1.41-1.41L7.41 6l4.58-4.59z'/%3E%3C/svg%3E%0A") no-repeat;
    }

    &::placeholder {
      color: $white;
    }

    &:-webkit-autofill {
      box-shadow: 0 0 0 55px #004466e0 inset;
      -webkit-text-fill-color: $white;
      caret-color: $white;
    }
  }
}

@keyframes search_field_hide {
  0% {
    opacity: 1;
    transform: scaleX(1);
  }
  100% {
    opacity: 0;
    transform: scaleX(0);
  }
}

@include media('desktop') {
  @keyframes search_field_hide {
    0% {
      opacity: 1;
      width: 260px;
      margin: 0 10px;
      transform: scaleX(1);
    }
    100% {
      opacity: 0;
      width: 0;
      margin: 0;
      transform: scaleX(0);
    }
  }
}

@keyframes search_field_show {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

@include media('desktop') {
  @keyframes search_field_show {
    0% {
      opacity: 0;
      width: 0;
      margin: 0;
    }
    100% {
      opacity: 1;
      width: 260px;
      margin: 0 10px;
    }
  }
}
