.footer {
  margin-top: 30px;
  padding: 20px 0 30px;
  background-color: $gray-e;
  position: relative;
  @include media('desktop_half') {
    padding-top: 30px;
  }
  @include media('desktop') {
    margin-top: 10px;
  }

  &_content {
    display: flex;
    flex-direction: column;
    @include media('desktop_half') {
      flex-flow: row wrap;
      justify-content: space-between;
    }
    @include media('desktop') {
      justify-content: flex-start;
      width: $main_width - ($desktop_gap * 2);
    }
  }

  &_section {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    @include media('desktop') {
      min-width: $cell_size;
    }
  }

  &__title {
    font: bold 1.3rem/1.8rem a;
    font-family: inherit;
    color: $gray-6;
    margin-top: -.8rem;
    margin-bottom: -.4rem + 1.5rem;
    &--grey {
      color: $gray-9;
      margin-bottom: -.4rem;
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
    &:focus,
    &:hover {
      color: $black;
    }
  }

  &__age {
    align-self: center;
    margin-bottom: 8px;
    font: 1.4rem/1 a;
    font-family: inherit;
    color: $gray-9;
    @include media('desktop_half') {
      align-self: auto;
      margin-bottom: 0;
      font-size: 2.4rem;
    }
  }
}

.footer_rusfond {
  &__logo {
    position: relative;
    margin-left: 20px;
    @include media('desktop_half') {
      margin: 15px 0 0;
    }
    &::before {
      content: '';
      display: block;
      width: 100px;
      padding-bottom: 26%;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    opacity: .5;
  }

  &__link {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    @include media('desktop_half') {
      flex-direction: column;
    }
  }

  &__link:focus .footer__title--grey,
  &__link:hover .footer__title--grey {
    color: $black;
  }

  &__link:focus &__img,
  &__link:hover &__img {
    opacity: 1;
  }
}

.footer_nav {
  position: relative;
  margin: 50px 0 15px;
  @include media('desktop_half') {
    width: 60%;
    margin-top: 0;
  }
  @include media('desktop') {
    width: $cell_size_large + $desktop_gap;
  }

  &::before {
    content: '';
    position: absolute;
    top: -30px;
    left: -#{$mobile_gap};
    right: -#{$mobile_gap};
    border-top: 1px solid $white;
    @include media('desktop_half') {
      content: none;
    }
  }

  &__list {
    width: 150px;
    @include media('desktop_half') {
      width: 50%;
    }
  }
}

.footer_social {
  margin-bottom: 15px;
  @include media('desktop') {
    align-items: center;
    margin-bottom: 30px;
    margin-left: auto;
  }

  &__link {
    margin: 0 10px 10px 0;
    @include media('desktop') {
      margin-bottom: 0;
    }
    &:last-of-type {
      margin-right: 20px;
    }
  }

  &__icon {
    fill: $white;
    background-color: $gray-9;
    font-size: 22px;
    transition: background-color .15s ease-in-out 0s;
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    background-color: $brand_color;
  }
}

.footer_adv {
  width: 100%;
  @include media('desktop') {
    align-items: center;
    flex-wrap: nowrap;
  }

  &__title {
    @include media('desktop') {
      padding-right: $desktop_gap;
    }
  }
}

.footer_counter {
  display: flex;
  flex-shrink: 0;
  width: 336px;

  &__item {
    margin-right: 10px;
  }
}
