.footer {
	margin-top: 30px;
	padding: 20px 0 30px;
	background-color: #eee;

	@include media('desktop_half') {
		padding-top: 30px;
	}

	@include media('desktop') {
		margin-top: 10px;
	}

	&_content {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;

		@include media('desktop') {
			justify-content: flex-start;
			width: 972px;
		}
	}

	&_section {
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		justify-content: flex-start;

		@include media('desktop') {
			align-items: center;
			min-width: 212px;
		}
	}

	&_section--wide {
		width: 100%;

		@include media('desktop') {
			justify-content: space-between;
			width: calc(100% - 138px);
		}
	}

	&__title {
		font-size: 1.3rem;
		line-height: 1.8rem;
		font-weight: bold;
		color: #666;
		margin-top: -.6rem;
		margin-bottom: -.5rem + 1.5rem;
	}

	&__title--grey {
		color: #999;
		margin-bottom: -.5rem;
	}

	&__link {
		color: inherit;
		text-decoration: none;
	}

	&__link:focus,
	&__link:hover {
		color: #000;
	}

	&_rusfond {
		@include media('desktop') {
			align-items: flex-start;
		}
	}

	&_rusfond__logo {
		margin-left: 20px;

		@include media('desktop_half') {
			margin: 15px 0 0;
		}
	}

	&_rusfond__img {
		width: 100px;
		opacity: .5;
	}

	&_rusfond__link {
		display: flex;
		flex-direction: row;
		align-items: center;

		@include media('desktop_half') {
			flex-direction: column;
		}
	}

	&_rusfond__link:focus &__title--grey,
	&_rusfond__link:hover &__title--grey {
		color: #000;
	}

	&_rusfond__link:focus &_rusfond__img,
	&_rusfond__link:hover &_rusfond__img {
		opacity: 1;
	}

	&_nav {
		position: relative;
		justify-content: flex-start;
		width: 100%;
		margin: 50px 0 15px;

		@include media('desktop_half') {
			justify-content: space-between;
			width: 60%;
			margin-top: 0;
		}

		@include media('desktop') {
			width: auto;
			min-width: 424px;
			margin-bottom: -.7rem + 1rem;
		}
	}

	&_nav::before {
		content: '';
		position: absolute;
		top: -30px;
		left: -#{$mobile_gap};
		right: -#{$mobile_gap};
		border-top: 1px solid #fff;

		@include media('desktop_half') {
			content: none;
		}
	}

	&_nav__list {
		min-width: 154px;

		@include media('desktop') {
			width: 50%;
		}
	}

	&_social {
		margin-bottom: 15px;

		@include media('desktop') {
			margin-bottom: 0;
		}
	}

	&__age {
		align-self: center;
		margin-bottom: 8px;
		font-size: 1.4rem;
		line-height: 1;
		font-weight: normal;
		color: #999;

		@include media('desktop_half') {
			align-self: auto;
			margin-bottom: 0;
			font-size: 2.4rem;
		}
	}

	&_counter__item {
		display: inline-block;
		margin-right: 10px;
  }
}

.footer_social {
	&__link {
		margin: 0 10px 10px 0;

		@include media('desktop') {
			margin-bottom: 0;
		}
	}

	&__link:last-of-type {
		margin-right: 20px;
	}

	&__icon {
		fill: #fff;
		background-color: #999;
		font-size: 22px;
		transition: fill .15s ease-in-out 0s,
					background-color .15s ease-in-out 0s;
	}
}
