@import 'swiper/swiper.scss';

.light_spot {
  margin: 0 -#{$mobile_gap} 30px -#{$mobile_gap};
  background-color: $white;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
  @include media('desktop') {
    margin: 0;
  }
  &__canvas {
    padding: 2rem 0 2.4rem 0;
    display: flex;
    align-items: stretch;
    @include media('desktop') {
      padding: 0;
    }
  }
  &__item {
    width: 100%;
    // TODO revert
    //margin-right: -100%;
    flex-shrink: 0;
  }
  &__nav_button {
    z-index: 2;
    margin-top: calc(28.125% + 41px - #{$mobile_icon_size} / 2 - 10px);
    @include media('desktop') {
      margin-top: calc(120px - #{$desktop_icon_size} / 2 - 10px);
    }
  }
  &__nav_icon {
    color: $gray-6;
    @include media('desktop') {
      color: $black;
    }
  }
}
